In [1]:
from bs4 import BeautifulSoup
import requests

In [ ]:
#listOfRedmiPhones = []
import pandas as pd
from googlesearch import search

url = []
i = 0
j = 0
phoneName = []
phonePrice = []
bNameList = []
df = pd.DataFrame(columns = ['Brand Name','Name','Price'])
#num = int(input('Number of companies = '))
#k = 0
#df['Brand Name'] = ''
#while k < num:
#    brand = input('Brand Name {} = '.format(k+1))
#    brandName.append(brand)
#    k = k + 1
brandName = ['Samsung','LYF','Xiaomi','Vivo','Oppo','Motorola','Lenovo','Micromax','Gionee','Lava','Apple','Huawei','Intex','LG','Nokia','Asus','Karbonn','Panasonic','Itel','Coolpad','Oneplus','Tecno','Leeco','HTC','Infocus']
k = 0
for b in brandName:
    query = b + 'price list: gadgets.ndtv.com'
    print(b)
    i = 0
    url = []
    for j in search(query, tld="co.in", num=3, stop=1):
        if 'price' in j:
            url.append(j)
        else:
            continue
    print(url[0])   
    response = requests.get(url[0], headers={'User-agent': 'Mozilla/5.0 (Windows NT 6.2; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.120 Safari/537.36'})

    soup = BeautifulSoup(response.content, "lxml")


    listOfRedmiPhones = soup.findAll('li') 
    n = len(listOfRedmiPhones)
    while i < n:
        try:
            #from googlesearch import search
            phoneName.append(listOfRedmiPhones[i].find('strong').get_text())
            phonePrice.append(listOfRedmiPhones[i].find('span', class_ = "").get_text())
            bNameList.append(b)
            #print('{}, {}'.format(phoneName[j],phonePrice[j]))
            i = i + 1
            #j = j + 1
        except AttributeError: 
            i = i + 1
    k = k + 1
df['Brand Name'] = bNameList
df['Name'] = phoneName
df['Price'] = phonePrice
#print('There are {} models of Redmi'.format(n))
print(df)

In [134]:
df.to_csv('phone-list.csv', header = ['Brand Name','Model Name','Price'])

In [139]:
output = pd.read_csv('phone-list.csv')
output.head()

   Unnamed: 0 Brand Name                Model Name      Price
0           0    Samsung        Samsung Galaxy S9+  Rs.62,499
1           1    Samsung     Samsung Galaxy Note 8  Rs.59,900
2           2    Samsung      Samsung Galaxy Note7  Rs.59,900
3           3    Samsung         Samsung Galaxy S9  Rs.55,399
4           4    Samsung  Samsung Galaxy Note Edge  Rs.49,500